/*
    default.css
    Default styles for jquery-headershow plugin.
    George Lesica <glesica@gmail.com>
*/

.hs-container {
    padding: 0;
    overflow: hidden;
}

.hs-img * {
    border: none;
    float: none;
    margin: 0;
    padding: 0;
}

.hs-txt {
    padding: 0.5em 1.0em;
    text-shadow: 1px 1px 4px #000;
}


