/*
    demo.css
    Styles for jquery-headershow plugin demo page.
    George Lesica <glesica@gmail.com>
*/

.hs-container {
    background: #333;
    color: #ddd;
}

.hs-txt {
    font-family: sans-serif;
    letter-spacing: 0.075em;
}

.demoimage {
    float: left;
    padding: 0 1.0em 1.0em 0;
}

.demoform {
    text-align: center;
    background: #5b7290;
    border-radius: 0.5em;
    margin: 0 0 0.5em 0;
    padding: 0.75em;
}

.demoform form {
    margin: 0.5em 0 0 0;
}

.demoform input[type=text] {
    border: none;
    border-radius: 0.25em;
    box-shadow:inset 1px 1px 2px #333;
    margin: 0;
    padding: 0.5em;
}

.demoform button {
    margin: 0;
    padding: 0.5em;
}